<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>YouTube Video Downloader</title>
  <link rel="stylesheet" href="C://Users//PMLS//Documents//python//youtube video downloader//static//style.css">
</head>
<body>
  <header>
    <h1 class="animated">YouTube Video Downloader</h1>
  </header>
  <main>
    <form id="downloadForm">
      <input type="text" id="videoUrl" placeholder="Enter YouTube video URL" required>
      <button type="submit" id="downloadBtn" class="animated">Download</button>
    </form>
  </main>
  <script src="script.js"></script>
</body>
</html>
